@model IEnumerable<StatDataViewModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Режим</th>
            <th scope="col">Время</th>
            <th scope="col">Верные ответы</th>
            <th scope="col">Неверные ответы</th>
            <th scope="col">Соотношение</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (StatDataViewModel viewModel in Model)
            {
                <tr>
                    <partial name="_StatDataPartial.cshtml" for=@viewModel />
                </tr>
            } 
         }
    </tbody>
</table>
