@model IEnumerable<StatDataViewModel>

<div class="list-group">
    @{
        foreach (StatDataViewModel viewModel in Model)
        {
        <div class="list-group-item flex-column align-items-lg-start">
            <partial name="_StatDataPartial.cshtml" for=@viewModel />
        </div>
        }
      }
</div>
