@model StatsViewModel

<div class="container">
    <p>Пользователь: @ViewBag.Title</p>
    <p>Группа: @ViewBag.Group</p>
</div>


<div class="container">
    <partial name="_BestStatsPartial" for="@Model.BestStats" />
</div>

<div class="container">
    <partial name="_StatsListPartial" for="@Model.StatList.Stats" />
</div>

